.news {
    justify-content: space-around;
    display: flex;
}

.first {
    border: 2px solid cornflowerblue;
    border-radius: 8px;
    width: 400px;
    height: 430px;
    margin-left: 50px;
}
.first img {
    width: 300px;
    height: 250px;
    padding-left: 50px;
    padding-top: 30px;
}
.comet h3{
    margin: 0 auto;
    width: 50px;
    color: #FBAB68;
}
.comet p {
    padding-left: 10px;
}
.second {
    border: 2px solid cornflowerblue;
    border-radius: 8px;
    width: 400px;
    height: 430px;
    margin-left: 50px;
}
.second img {
    width: 300px;
    height: 250px;
    padding-left: 50px;
    padding-top: 30px;
}
.stars h3{
    margin: 0 auto;
    width: 90px;
    color: #FBAB68;
}
.stars p {
    padding-left: 10px;
}

.third {
    border: 2px solid cornflowerblue;
    border-radius: 8px;
    width: 400px;
    height: 430px;
    margin-left: 50px;
}
.third img {
    width: 300px;
    height: 250px;
    padding-left: 50px;
    padding-top: 30px;
}
.asteroid h3{
    margin: 0 auto;
    width: 50px;
    color: #FBAB68;
}
.asteroid p {
    padding-left: 10px;
}